<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <div id="side-bar">
      <img class="logo" src="assets/images/Fish-logo.png">

      <a color="primary" class="side-bar-button" mat-stroked-button href="https://www.google.com/" target="_blank">Competition</a>

      <a color="primary" class="side-bar-button" mat-stroked-button href="https://www.google.com/" target="_blank">Member</a>

      <a color="primary" class="side-bar-button" mat-stroked-button href="https://www.google.com/" target="_blank">Hunting</a>
    </div>
  </mat-drawer>
  <mat-drawer-content id="main-content">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
